.apearanimation{
    animation: apearanimation forwards 10s ease-in ;
  }
  @keyframes apearanimation {
    from {
         perspective: 10px;
        transform: translateY(0);
        width: 30%;
      
      }
  
    to {
        perspective: 100px;
        width: 20%;
        transform: translateY(-15rem);
    }
  }