    .stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    transform: rotate(-45deg);
    color : white  
  }
  
  .star {
    --star-color: var(--primary-color);
    --star-tail-length: 6em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(104em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
  @media screen and (max-width: 750px) {
    .star {
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
    }
  }
  .star:nth-child(1) {
    --star-tail-length: 5.46em;
    --top-offset: 43.28vh;
    --fall-duration: 7.191s;
    --fall-delay: 0.833s;
  }
  .star:nth-child(2) {
    --star-tail-length: 6.13em;
    --top-offset: 86.11vh;
    --fall-duration: 9.628s;
    --fall-delay: 1.999s;
  }
  .star:nth-child(3) {
    --star-tail-length: 7.2em;
    --top-offset: 62.88vh;
    --fall-duration: 8.96s;
    --fall-delay: 4.865s;
  }
  .star:nth-child(4) {
    --star-tail-length: 6.25em;
    --top-offset: 68.84vh;
    --fall-duration: 8.96s;
    --fall-delay: 3.876s;
  }
  .star:nth-child(5) {
    --star-tail-length: 7.44em;
    --top-offset: 41.77vh;
    --fall-duration: 6.164s;
    --fall-delay: 7.959s;
  }
  .star:nth-child(6) {
    --star-tail-length: 5.9em;
    --top-offset: 0.01vh;
    --fall-duration: 11.094s;
    --fall-delay: 7.208s;
  }
  .star:nth-child(7) {
    --star-tail-length: 5.54em;
    --top-offset: 68.96vh;
    --fall-duration: 6.937s;
    --fall-delay: 0.651s;
  }
  .star:nth-child(8) {
    --star-tail-length: 5.64em;
    --top-offset: 18.08vh;
    --fall-duration: 9.68s;
    --fall-delay: 5.887s;
  }
  .star:nth-child(9) {
    --star-tail-length: 6.68em;
    --top-offset: 86.4vh;
    --fall-duration: 9.715s;
    --fall-delay: 1.816s;
  }
  .star:nth-child(10) {
    --star-tail-length: 6.88em;
    --top-offset: 26.95vh;
    --fall-duration: 9.277s;
    --fall-delay: 7.854s;
  }
 
  .star::before, .star::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
  }
  .star::before {
    transform: rotate(45deg);
  }
  .star::after {
    transform: rotate(-45deg);
  }
  
  @keyframes fall {
    to {
      transform: translate3d(-10em, 0, 0);
    }
  }
  @keyframes tail-fade {
    0%, 30% {
      width: var(--star-tail-length);
      opacity: 1;
    }
    50%, 60% {
      width: 0;
      opacity: 0.4;
    }
    70% {
      width: 0;
      opacity: 0;
    }
  }
  @keyframes blink {
    50% {
      opacity: 0.6;
    }
  }