@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(33,33,33);
  background: linear-gradient(90deg, rgba(33,33,33,1) 0%, rgba(19,19,19,1) 100%);
  height: 100%;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.boxshadow{
  background: linear-gradient(145deg, #333138, #2b2f38);
  box-shadow:  6px 6px 16px #1e2126,
               -2px -2px 10px #323742;
}
.boxshadow2{
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.2);
}
.boxshadow3{
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.2);
}

.blureEffectGreen{
  background: rgba( 102, 209, 107, 0.65 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4.5px );
  -webkit-backdrop-filter: blur( 4.5px );
}